.duplication-type-1 {
  color: #F00;
  border: 1px solid #a23;
}

.duplication-type-1 {
  border: 1px solid #a23;
  color: #F00;
}

.duplication-prop-1-1 {
  font-size: 1px;
  font-weight: 700;
  text-decoration: underline;
}

.duplication-prop-1-2 {
  text-decoration: underline;
  font-weight: 700;
  font-size: 1px;
}

.duplication-prop-3-1 {
  padding: 4px 3px 2px 1px;
}

.duplication-prop-3-1 {
  padding-top: 4px;
  padding-right: 3px;
  padding-bottom: 2px;
  padding-left: 1px;
}

.duplication-type-3-a {
  margin-top: 1px;
  margin-right: 2px;
  margin-bottom: 1px;
  margin-left: 2px;
}

.duplication-type-3-a {
  margin: 1px 2px;
}

.duplication-type-3-b {
  border: 1px solid #EE82EE;
}

.duplication-type-3-b {
  border-width: 1px;
  border-style: solid;
  border-color: #EE82EE;
}

.duplication-type-4 {
  padding: 1px 2px 3px 4px;
}

.duplication-type-4 {
  padding-right: 2px;
}

.d-t-4 {
  background-color: #F00;
}

.d-t-4 {
  background-color: #F00;
}

.d-t-4-2 {
  padding-left: 5px;
}

.d-t-4-2 {
  padding-left: 5px;
}
